openapi: 3.2.0
info:
  description: API Documentation
  title: Control-plane UI Release Stream Controller API
  version: '1.0'
servers:
- url: https://facetsdemo.console.facets.cloud
  description: Generated server url
security:
- basicAuth: []
tags:
- name: ui-release-stream-controller
paths:
  /cc-ui/v1/release-stream:
    get:
      operationId: getAll_1
      parameters:
      - in: query
        name: stackName
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReleaseStreamResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-release-stream-controller
      summary: Get all 1
      x-summary-source: derived
    post:
      operationId: add_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseStreamRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseStream'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-release-stream-controller
      summary: Add 1
      x-summary-source: derived
  /cc-ui/v1/release-stream/{name}:
    delete:
      operationId: delete_2
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-release-stream-controller
      summary: Delete 2
      x-summary-source: derived
components:
  schemas:
    ErrorDetails:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    GithubAppPermissionsPendingErrorDetails:
      type: object
      properties:
        approvalUrl:
          type: string
        code:
          type: string
        errorCode:
          type: string
        message:
          type: string
        missingPermissions:
          type: array
          items:
            type: string
    ReleaseStreamResponse:
      type: object
      properties:
        builtIn:
          type: boolean
        createdBy:
          type: string
        creationDate:
          type: string
          format: date-time
        description:
          type: string
        mappedClusterNames:
          type: array
          items:
            type: string
        name:
          type: string
        prod:
          type: boolean
    ReleaseStream:
      type: object
      properties:
        createdBy:
          type: string
        creationDate:
          type: string
          format: date-time
        description:
          type: string
        name:
          type: string
        prod:
          type: boolean
        version:
          type: integer
          format: int64
    ReleaseStreamRequest:
      required:
      - name
      type: object
      properties:
        description:
          type: string
        name:
          type: string
        prod:
          type: boolean
  securitySchemes:
    basicAuth:
      description: Basic Authentication
      scheme: basic
      type: http
