openapi: 3.2.0
info:
  description: API Documentation
  title: Control-plane UI Artifactory Controller API
  version: '1.0'
servers:
- url: https://facetsdemo.console.facets.cloud
  description: Generated server url
security:
- basicAuth: []
tags:
- name: ui-artifactory-controller
paths:
  /cc-ui/v1/artifactories:
    get:
      operationId: getAllArtifactories
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Artifactory'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Get all artifactories
      x-summary-source: derived
    post:
      operationId: createECRArtifactory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ECRArtifactory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ECRArtifactory'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Create ECR artifactory
      x-summary-source: derived
  /cc-ui/v1/artifactories/link-container-registry:
    post:
      operationId: requestArtifactoryLinking
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactoryLinkingRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneTimeWebhook'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Request artifactory linking
      x-summary-source: derived
  /cc-ui/v1/artifactories/mirrors:
    post:
      operationId: createArtifactoryMirror
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactoryMirror'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactoryMirror'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Create artifactory mirror
      x-summary-source: derived
  /cc-ui/v1/artifactories/name/{name}:
    get:
      operationId: getArtifactoryByName
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifactory'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Get artifactory by name
      x-summary-source: derived
  /cc-ui/v1/artifactories/name/{name}/repos:
    get:
      operationId: getRepositoriesByArtifactoryName
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      - in: query
        name: artifactType
        required: false
        schema:
          type: string
          default: docker_image
          enum:
          - docker_image
          - freestyle
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Get repositories by artifactory name
      x-summary-source: derived
  /cc-ui/v1/artifactories/name/{name}/tags:
    get:
      operationId: getTagsByArtifactoryName
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      - in: query
        name: repo
        required: true
        schema:
          type: string
      - in: query
        name: artifactType
        required: false
        schema:
          type: string
          default: docker_image
          enum:
          - docker_image
          - freestyle
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Get tags by artifactory name
      x-summary-source: derived
  /cc-ui/v1/artifactories/others:
    post:
      operationId: createBasicDockerArtifactory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicDockerDTO'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicDockerArtifactory'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Create basic docker artifactory
      x-summary-source: derived
  /cc-ui/v1/artifactories/others/{artifactoryId}:
    post:
      operationId: updateBasicDockerArtifactory
      parameters:
      - in: path
        name: artifactoryId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicDockerDTO'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicDockerArtifactory'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Update basic docker artifactory
      x-summary-source: derived
  /cc-ui/v1/artifactories/stack/{stackName}:
    get:
      operationId: getAllArtifactoriesForStack
      parameters:
      - in: path
        name: stackName
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Artifactory'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Get all artifactories for stack
      x-summary-source: derived
  /cc-ui/v1/artifactories/v2/{artifactoryId}:
    delete:
      operationId: deleteArtifactory
      parameters:
      - in: path
        name: artifactoryId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Delete artifactory
      x-summary-source: derived
  /cc-ui/v1/artifactories/{artifactoryId}:
    delete:
      operationId: deleteECRArtifactory
      parameters:
      - in: path
        name: artifactoryId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: boolean
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Delete ECR artifactory
      x-summary-source: derived
    get:
      operationId: getArtifactoryById
      parameters:
      - in: path
        name: artifactoryId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifactory'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Get artifactory by id
      x-summary-source: derived
    post:
      operationId: updateECRArtifactory
      parameters:
      - in: path
        name: artifactoryId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ECRArtifactory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ECRArtifactory'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Update ECR artifactory
      x-summary-source: derived
  /cc-ui/v1/artifactories/{artifactoryId}/associate-projects:
    post:
      operationId: associateStacks
      parameters:
      - in: path
        name: artifactoryId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Associate stacks
      x-summary-source: derived
  /cc-ui/v1/artifactories/{artifactoryId}/repos:
    get:
      operationId: getRepositories
      parameters:
      - in: path
        name: artifactoryId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Get repositories
      x-summary-source: derived
  /cc-ui/v1/artifactories/{artifactoryId}/tags:
    get:
      operationId: getTags
      parameters:
      - in: path
        name: artifactoryId
        required: true
        schema:
          type: string
      - in: query
        name: repo
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifactory-controller
      summary: Get tags
      x-summary-source: derived
components:
  schemas:
    BasicDockerArtifactory:
      required:
      - name
      - password
      type: object
      properties:
        artifactoryProject:
          type: string
        artifactoryType:
          type: string
          enum:
          - ECR
          - AZURE_CONTAINER_REGISTRY
          - GOOGLE_ARTIFACT_REGISTRY
          - GOOGLE_CONTAINER_REGISTRY
          - NEXUS
          - DOCKER_HUB
          - JFROG
          - HARBOR
          - OTHERS
        changeLog:
          type: string
        createdBy:
          type: string
        creationDate:
          type: string
          format: date-time
        description:
          maxLength: 200
          minLength: 0
          type: string
        id:
          type: string
        lastModifiedBy:
          type: string
        lastModifiedDate:
          type: string
          format: date-time
        name:
          type: string
        password:
          type: string
          writeOnly: true
        stacksAssociated:
          uniqueItems: true
          type: array
          items:
            type: string
        systemDefined:
          type: boolean
        uri:
          type: string
        username:
          type: string
        versioningKey:
          type: string
    ArtifactoryMirror:
      type: object
      properties:
        clusterId:
          type: string
        id:
          type: string
        mirrorArtifactory:
          type: string
        sourceArtifactory:
          type: string
    OneTimeWebhook:
      type: object
      properties:
        accountLinkingDetails:
          $ref: '#/components/schemas/AccountLinkingDetails'
        createdBy:
          type: string
        creationDate:
          type: string
          format: date-time
        deleteAt:
          type: string
          format: date-time
          readOnly: true
        errorMessage:
          type: string
        expiresAt:
          type: string
          format: date-time
          readOnly: true
        id:
          type: string
        lastModifiedBy:
          type: string
        lastModifiedDate:
          type: string
          format: date-time
        status:
          type: string
          readOnly: true
          enum:
          - WAITING
          - SUCCESS
          - FAILED
          - EXPIRED
        type:
          type: string
          enum:
          - AZURE
          - GCP
          - AWS
          - KUBERNETES
          - ECR
          - OTHER_DOCKER_REGISTRY
          - GITHUB
          - GITLAB
          - BITBUCKET
    Artifactory:
      required:
      - name
      type: object
      properties:
        artifactoryType:
          type: string
          enum:
          - ECR
          - AZURE_CONTAINER_REGISTRY
          - GOOGLE_ARTIFACT_REGISTRY
          - GOOGLE_CONTAINER_REGISTRY
          - NEXUS
          - DOCKER_HUB
          - JFROG
          - HARBOR
          - OTHERS
        changeLog:
          type: string
        createdBy:
          type: string
        creationDate:
          type: string
          format: date-time
        description:
          maxLength: 200
          minLength: 0
          type: string
        id:
          type: string
        lastModifiedBy:
          type: string
        lastModifiedDate:
          type: string
          format: date-time
        name:
          type: string
        stacksAssociated:
          uniqueItems: true
          type: array
          items:
            type: string
        systemDefined:
          type: boolean
        uri:
          type: string
        versioningKey:
          type: string
    AccountLinkingDetails:
      type: object
      properties:
        description:
          type: string
        labelIds:
          type: array
          items:
            type: string
    BasicDockerDTO:
      required:
      - artifactoryName
      - artifactoryType
      - uri
      - username
      type: object
      properties:
        artifactoryName:
          type: string
        artifactoryProject:
          type: string
        artifactoryType:
          type: string
          enum:
          - ECR
          - AZURE_CONTAINER_REGISTRY
          - GOOGLE_ARTIFACT_REGISTRY
          - GOOGLE_CONTAINER_REGISTRY
          - NEXUS
          - DOCKER_HUB
          - JFROG
          - HARBOR
          - OTHERS
        description:
          maxLength: 200
          minLength: 0
          type: string
        password:
          type: string
        stacksAssociated:
          uniqueItems: true
          type: array
          items:
            type: string
        uri:
          type: string
        username:
          type: string
    ArtifactoryLinkingRequest:
      type: object
      properties:
        artifactoryName:
          type: string
        webhook:
          $ref: '#/components/schemas/ArtifactoryOneTimeWebhook'
    ErrorDetails:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    ArtifactoryOneTimeWebhook:
      type: object
      properties:
        accountLinkingDetails:
          $ref: '#/components/schemas/AccountLinkingDetails'
        createdBy:
          type: string
        creationDate:
          type: string
          format: date-time
        deleteAt:
          type: string
          format: date-time
          readOnly: true
        errorMessage:
          type: string
        expiresAt:
          type: string
          format: date-time
          readOnly: true
        id:
          type: string
        lastModifiedBy:
          type: string
        lastModifiedDate:
          type: string
          format: date-time
        stackAssociated:
          uniqueItems: true
          type: array
          items:
            type: string
        status:
          type: string
          readOnly: true
          enum:
          - WAITING
          - SUCCESS
          - FAILED
          - EXPIRED
        type:
          type: string
          enum:
          - AZURE
          - GCP
          - AWS
          - KUBERNETES
          - ECR
          - OTHER_DOCKER_REGISTRY
          - GITHUB
          - GITLAB
          - BITBUCKET
    GithubAppPermissionsPendingErrorDetails:
      type: object
      properties:
        approvalUrl:
          type: string
        code:
          type: string
        errorCode:
          type: string
        message:
          type: string
        missingPermissions:
          type: array
          items:
            type: string
    ECRArtifactory:
      required:
      - awsAccountId
      - awsKey
      - awsRegion
      - awsSecret
      - name
      type: object
      properties:
        artifactoryType:
          type: string
          enum:
          - ECR
          - AZURE_CONTAINER_REGISTRY
          - GOOGLE_ARTIFACT_REGISTRY
          - GOOGLE_CONTAINER_REGISTRY
          - NEXUS
          - DOCKER_HUB
          - JFROG
          - HARBOR
          - OTHERS
        awsAccountId:
          type: string
        awsKey:
          type: string
          writeOnly: true
        awsRegion:
          type: string
        awsSecret:
          type: string
          writeOnly: true
        changeLog:
          type: string
        createdBy:
          type: string
        creationDate:
          type: string
          format: date-time
        customLifecyclePolicyText:
          type: string
        description:
          maxLength: 200
          minLength: 0
          type: string
        id:
          type: string
        imageTagMutability:
          type: string
          enum:
          - MUTABLE
          - IMMUTABLE
        imageTagMutabilityExclusionFilters:
          type: array
          items:
            $ref: '#/components/schemas/ExclusionFilter'
        lastModifiedBy:
          type: string
        lastModifiedDate:
          type: string
          format: date-time
        maxImages:
          type: integer
          format: int32
        name:
          type: string
        stacksAssociated:
          uniqueItems: true
          type: array
          items:
            type: string
        systemDefined:
          type: boolean
        uri:
          type: string
        versioningKey:
          type: string
    ExclusionFilter:
      type: object
      properties:
        filter:
          type: string
        filterType:
          type: string
          enum:
          - WILDCARD
  securitySchemes:
    basicAuth:
      description: Basic Authentication
      scheme: basic
      type: http
