openapi: 3.2.0
info:
  description: API Documentation
  title: Control-plane UI Settings Controller API
  version: '1.0'
servers:
- url: https://facetsdemo.console.facets.cloud
  description: Generated server url
security:
- basicAuth: []
tags:
- name: ui-settings-controller
paths:
  /cc-ui/v1/settings/entity/{entity}:
    get:
      operationId: getAllSettingsForEntity
      parameters:
      - in: path
        name: entity
        required: true
        schema:
          type: string
          enum:
          - CLUSTER
          - BLUE_PRINT
          - TEMPLATE_INPUT
          - CONTROL_PLANE
          - IAC
          - ARTIFACT_CI
          - USER_GROUP
          - ACCOUNT
          - ARTIFACTORY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Setting'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-settings-controller
      summary: Get all settings for entity
      x-summary-source: derived
  /cc-ui/v1/settings/onboarding-display/{value}:
    put:
      operationId: setOnboardingDisplay
      parameters:
      - in: path
        name: value
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-settings-controller
      summary: Set onboarding display
      x-summary-source: derived
  /cc-ui/v1/settings/ui-yaml:
    get:
      operationId: getAllSettingsYaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-settings-controller
      summary: Get all settings yaml
      x-summary-source: derived
  /cc-ui/v1/settings/value/{entityType}/{entityId}:
    get:
      operationId: getSettingValue
      parameters:
      - in: path
        name: entityType
        required: true
        schema:
          type: string
          enum:
          - CLUSTER
          - BLUE_PRINT
          - TEMPLATE_INPUT
          - CONTROL_PLANE
          - IAC
          - ARTIFACT_CI
          - USER_GROUP
          - ACCOUNT
          - ARTIFACTORY
      - in: path
        name: entityId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-settings-controller
      summary: Get setting value
      x-summary-source: derived
    put:
      operationId: addSettingValue
      parameters:
      - in: path
        name: entityId
        required: true
        schema:
          type: string
      - in: path
        name: entityType
        required: true
        schema:
          type: string
          enum:
          - CLUSTER
          - BLUE_PRINT
          - TEMPLATE_INPUT
          - CONTROL_PLANE
          - IAC
          - ARTIFACT_CI
          - USER_GROUP
          - ACCOUNT
          - ARTIFACTORY
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-settings-controller
      summary: Add setting value
      x-summary-source: derived
components:
  schemas:
    JsonNode:
      type: object
    ErrorDetails:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    GithubAppPermissionsPendingErrorDetails:
      type: object
      properties:
        approvalUrl:
          type: string
        code:
          type: string
        errorCode:
          type: string
        message:
          type: string
        missingPermissions:
          type: array
          items:
            type: string
    Setting:
      required:
      - defaultValue
      - entity
      - name
      - settingType
      - supportedForClouds
      type: object
      properties:
        allowedValues:
          type: array
          items:
            type: string
        createdBy:
          type: string
        creationDate:
          type: string
          format: date-time
        defaultValue:
          type: object
        description:
          type: string
        entity:
          type: string
          enum:
          - CLUSTER
          - BLUE_PRINT
          - TEMPLATE_INPUT
          - CONTROL_PLANE
          - IAC
          - ARTIFACT_CI
          - USER_GROUP
          - ACCOUNT
          - ARTIFACTORY
        id:
          type: string
        lastModifiedBy:
          type: string
        lastModifiedDate:
          type: string
          format: date-time
        max:
          type: integer
          format: int32
        min:
          type: integer
          format: int32
        name:
          type: string
        settingType:
          type: string
          enum:
          - NUMBER
          - STRING
          - ENUM
          - BOOLEAN
          - FLOAT
        supportedForClouds:
          type: array
          items:
            type: string
            enum:
            - AWS
            - AZURE
            - LOCAL
            - GCP
            - KUBERNETES
            - NO_CLOUD
  securitySchemes:
    basicAuth:
      description: Basic Authentication
      scheme: basic
      type: http
