openapi: 3.2.0
info:
  description: API Documentation
  title: Control-plane UI Versioning Controller API
  version: '1.0'
servers:
- url: https://facetsdemo.console.facets.cloud
  description: Generated server url
security:
- basicAuth: []
tags:
- name: ui-versioning-controller
paths:
  /cc-ui/v1/versions/id/{id}:
    get:
      operationId: getVersionById
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-versioning-controller
      summary: Get version by id
      x-summary-source: derived
  /cc-ui/v1/versions/softDeletedEntities:
    delete:
      operationId: deleteSoftDeleteEntity
      parameters:
      - in: query
        name: id
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-versioning-controller
      summary: Delete soft delete entity
      x-summary-source: derived
    get:
      operationId: softDeletedEntities
      parameters:
      - in: query
        name: page
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: perPage
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: sortBy
        required: false
        schema:
          type: string
          default: LAST_MODIFIED_DATE
          enum:
          - ID
          - CREATION_DATE
          - CREATED_BY
          - LAST_MODIFIED_DATE
          - LAST_MODIFIED_BY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeletedEntitySoftDelete'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-versioning-controller
      summary: Soft deleted entities
      x-summary-source: derived
  /cc-ui/v1/versions/softDeletedEntities/all:
    delete:
      operationId: deleteAllSoftDeleteEntities
      responses:
        '200':
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-versioning-controller
      summary: Delete all soft delete entities
      x-summary-source: derived
  /cc-ui/v1/versions/softDeletedEntities/{entityId}:
    post:
      operationId: restoreSoftDelete
      parameters:
      - in: path
        name: entityId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-versioning-controller
      summary: Restore soft delete
      x-summary-source: derived
  /cc-ui/v1/versions/softDeletedEntities/{entityType}:
    get:
      operationId: softDeletedEntitiesByType
      parameters:
      - in: path
        name: entityType
        required: true
        schema:
          type: string
          enum:
          - CLUSTER
          - BLUE_PRINT
          - TEMPLATE_INPUT
          - CONTROL_PLANE
          - IAC
          - ARTIFACT_CI
          - USER_GROUP
          - ACCOUNT
          - ARTIFACTORY
      - in: query
        name: page
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: perPage
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: sortBy
        required: false
        schema:
          type: string
          default: LAST_MODIFIED_DATE
          enum:
          - ID
          - CREATION_DATE
          - CREATED_BY
          - LAST_MODIFIED_DATE
          - LAST_MODIFIED_BY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeletedEntitySoftDelete'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-versioning-controller
      summary: Soft deleted entities by type
      x-summary-source: derived
  /cc-ui/v1/versions/{versionId}/restore:
    post:
      operationId: restore
      parameters:
      - in: path
        name: versionId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-versioning-controller
      summary: Restore
      x-summary-source: derived
  /cc-ui/v1/versions/{versioningKey}:
    get:
      operationId: getVersions
      parameters:
      - in: path
        name: versioningKey
        required: true
        schema:
          type: string
      - in: query
        name: page
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: perPage
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VersionVersioned'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-versioning-controller
      summary: Get versions
      x-summary-source: derived
  /cc-ui/v1/versions/{versioningKey}/paginated:
    get:
      operationId: getVersionsPaginated
      parameters:
      - in: path
        name: versioningKey
        required: true
        schema:
          type: string
      - in: query
        name: page
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: perPage
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageVersionVersioned'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-versioning-controller
      summary: Get versions paginated
      x-summary-source: derived
components:
  schemas:
    PageVersionVersioned:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/VersionVersioned'
        empty:
          type: boolean
        first:
          type: boolean
        last:
          type: boolean
        number:
          type: integer
          format: int32
        numberOfElements:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
    ErrorDetails:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    SoftDelete:
      type: object
      properties:
        id:
          type: string
    GithubAppPermissionsPendingErrorDetails:
      type: object
      properties:
        approvalUrl:
          type: string
        code:
          type: string
        errorCode:
          type: string
        message:
          type: string
        missingPermissions:
          type: array
          items:
            type: string
    PageableObject:
      type: object
      properties:
        offset:
          type: integer
          format: int64
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        paged:
          type: boolean
        sort:
          $ref: '#/components/schemas/SortObject'
        unpaged:
          type: boolean
    DeletedEntitySoftDelete:
      type: object
      properties:
        createdBy:
          type: string
        creationDate:
          type: string
          format: date-time
        entity:
          $ref: '#/components/schemas/SoftDelete'
        entityType:
          type: string
          enum:
          - CLUSTER
          - BLUE_PRINT
          - TEMPLATE_INPUT
          - CONTROL_PLANE
          - IAC
          - ARTIFACT_CI
          - USER_GROUP
          - ACCOUNT
          - ARTIFACTORY
        id:
          type: string
        lastModifiedBy:
          type: string
        lastModifiedDate:
          type: string
          format: date-time
    VersionVersioned:
      type: object
      properties:
        archiveDate:
          type: string
          format: date-time
        entity:
          $ref: '#/components/schemas/Versioned'
        id:
          type: string
        sequence:
          type: integer
          format: int64
          writeOnly: true
        sequenceKey:
          type: string
        version:
          type: integer
          format: int64
        versioningKey:
          type: string
    SortObject:
      type: object
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    Versioned:
      type: object
      properties:
        changeLog:
          type: string
          writeOnly: true
        versioningKey:
          type: string
    Version:
      type: object
      properties:
        archiveDate:
          type: string
          format: date-time
        entity:
          $ref: '#/components/schemas/Versioned'
        id:
          type: string
        sequence:
          type: integer
          format: int64
          writeOnly: true
        sequenceKey:
          type: string
        version:
          type: integer
          format: int64
        versioningKey:
          type: string
  securitySchemes:
    basicAuth:
      description: Basic Authentication
      scheme: basic
      type: http
