openapi: 3.2.0
info:
  description: API Documentation
  title: Control-plane UI Artifact Hub Controller API
  version: '1.0'
servers:
- url: https://facetsdemo.console.facets.cloud
  description: Generated server url
security:
- basicAuth: []
tags:
- name: ui-artifact-hub-controller
paths:
  /cc-ui/v1/artifactHub/packages/{packageId}/values:
    get:
      operationId: getHelmValues
      parameters:
      - in: path
        name: packageId
        required: true
        schema:
          type: string
      - in: query
        name: version
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifact-hub-controller
      summary: Get helm values
      x-summary-source: derived
  /cc-ui/v1/artifactHub/search-packages:
    get:
      operationId: searchPackages
      parameters:
      - in: query
        name: offset
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - in: query
        name: facets
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: tsQueryWeb
        required: false
        schema:
          type: string
      - in: query
        name: category
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: verified
        required: false
        schema:
          type: boolean
      - in: query
        name: sort
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-artifact-hub-controller
      summary: Search packages
      x-summary-source: derived
components:
  schemas:
    Package:
      type: object
      properties:
        all_containers_images_whitelisted:
          type: boolean
        app_version:
          type: string
        category:
          type: integer
          format: int32
        deprecated:
          type: boolean
        description:
          type: string
        has_values_schema:
          type: boolean
        logo_image_id:
          type: string
        name:
          type: string
        normalized_name:
          type: string
        official:
          type: boolean
        package_id:
          type: string
        production_organizations_count:
          type: integer
          format: int32
        repository:
          $ref: '#/components/schemas/Repository'
        security_report_summary:
          $ref: '#/components/schemas/SecurityReportSummary'
        signed:
          type: boolean
        stars:
          type: integer
          format: int32
        ts:
          type: integer
          format: int64
        version:
          type: string
    ErrorDetails:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    GithubAppPermissionsPendingErrorDetails:
      type: object
      properties:
        approvalUrl:
          type: string
        code:
          type: string
        errorCode:
          type: string
        message:
          type: string
        missingPermissions:
          type: array
          items:
            type: string
    SecurityReportSummary:
      type: object
      properties:
        critical:
          type: integer
          format: int32
        high:
          type: integer
          format: int32
        low:
          type: integer
          format: int32
        medium:
          type: integer
          format: int32
        unknown:
          type: integer
          format: int32
    Repository:
      type: object
      properties:
        display_name:
          type: string
        kind:
          type: integer
          format: int32
        name:
          type: string
        official:
          type: boolean
        organization_display_name:
          type: string
        organization_name:
          type: string
        repository_id:
          type: string
        scanner_disabled:
          type: boolean
        url:
          type: string
        verified_publisher:
          type: boolean
    PackageResponse:
      type: object
      properties:
        packages:
          type: array
          items:
            $ref: '#/components/schemas/Package'
  securitySchemes:
    basicAuth:
      description: Basic Authentication
      scheme: basic
      type: http
