openapi: 3.2.0
info:
  description: API Documentation
  title: Control-plane UI O Auth Controller API
  version: '1.0'
servers:
- url: https://facetsdemo.console.facets.cloud
  description: Generated server url
security:
- basicAuth: []
tags:
- name: ui-o-auth-controller
paths:
  /cc-ui/v1/oauth:
    get:
      operationId: getAllIntegrations_1
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomOAuth2ClientRegistration'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-o-auth-controller
      summary: Get all integrations 1
      x-summary-source: derived
    post:
      operationId: addIntegrations_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomOAuth2ClientRegistration'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomOAuth2ClientRegistration'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-o-auth-controller
      summary: Add integrations 1
      x-summary-source: derived
  /cc-ui/v1/oauth/generic-oauth-integration:
    post:
      operationId: addGenericOAuthIntegration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericOAuth2ClientRegistration'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomOAuth2ClientRegistration'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-o-auth-controller
      summary: Add generic OAuth integration
      x-summary-source: derived
    put:
      operationId: editGenericOAuthIntegration
      parameters:
      - in: query
        name: registrationId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericOAuth2ClientRegistration'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomOAuth2ClientRegistration'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-o-auth-controller
      summary: Edit generic OAuth integration
      x-summary-source: derived
  /cc-ui/v1/oauth/{registrationId}:
    delete:
      operationId: deleteIntegrations_1
      parameters:
      - in: path
        name: registrationId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomOAuth2ClientRegistration'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-o-auth-controller
      summary: Delete integrations 1
      x-summary-source: derived
    put:
      operationId: updateIntegrations_1
      parameters:
      - in: path
        name: registrationId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomOAuth2ClientRegistration'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomOAuth2ClientRegistration'
          description: OK
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorDetails'
                - $ref: '#/components/schemas/GithubAppPermissionsPendingErrorDetails'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: string
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Conflict
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Internal Server Error
      tags:
      - ui-o-auth-controller
      summary: Update integrations 1
      x-summary-source: derived
components:
  schemas:
    ClientAuthenticationMethod:
      type: object
      properties:
        value:
          type: string
    GenericOAuth2ClientRegistration:
      required:
      - authorizationUri
      - clientId
      - clientSecret
      - jwkSetUri
      - loginButtonText
      - provider
      - registrationId
      - scope
      - tokenUri
      - userInfoUri
      type: object
      properties:
        authorizationUri:
          type: string
        clientAuthenticationMethod:
          $ref: '#/components/schemas/ClientAuthenticationMethod'
        clientId:
          type: string
        clientSecret:
          type: string
          writeOnly: true
        description:
          maxLength: 200
          minLength: 0
          type: string
        isSystemConfigured:
          type: boolean
          readOnly: true
        issuerUrl:
          type: string
        jwkSetUri:
          type: string
        loginButtonText:
          type: string
        provider:
          type: string
          enum:
          - GOOGLE
          - OKTA
          - ONE_LOGIN
          - AZURE_AD
          - JUMP_CLOUD
          - OPEN_ID
        registrationId:
          type: string
        scope:
          type: string
        systemConfigured:
          type: boolean
        tokenUri:
          type: string
        userInfoUri:
          type: string
    ErrorDetails:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    GithubAppPermissionsPendingErrorDetails:
      type: object
      properties:
        approvalUrl:
          type: string
        code:
          type: string
        errorCode:
          type: string
        message:
          type: string
        missingPermissions:
          type: array
          items:
            type: string
    CustomOAuth2ClientRegistration:
      required:
      - clientId
      - clientSecret
      - loginButtonText
      - provider
      - registrationId
      - scope
      type: object
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
          writeOnly: true
        description:
          maxLength: 200
          minLength: 0
          type: string
        isSystemConfigured:
          type: boolean
          readOnly: true
        issuerUrl:
          type: string
        loginButtonText:
          type: string
        provider:
          type: string
          enum:
          - GOOGLE
          - OKTA
          - ONE_LOGIN
          - AZURE_AD
          - JUMP_CLOUD
          - OPEN_ID
        registrationId:
          type: string
        scope:
          type: string
        systemConfigured:
          type: boolean
  securitySchemes:
    basicAuth:
      description: Basic Authentication
      scheme: basic
      type: http
