{"openapi":"3.0.1","info":{"description":"API Documentation","title":"Control-plane","version":"1.0"},"servers":[{"url":"https://facetsdemo.console.facets.cloud","description":"Generated server url"}],"security":[{"basicAuth":[]}],"tags":[{"description":"APIs for managing labels","name":"Label Management"},{"description":"APIs for managing individual variables and secrets","name":"Variable Management"},{"description":"Native Facets blueprint pull-request (branch) lifecycle APIs","name":"Blueprint Pull Requests"},{"description":"Manage a blueprint hook (e.g. the pre-release approval hook)","name":"Blueprint Hook"},{"description":"V2 APIs for blueprint designer write operations","name":"Blueprint Designer V2"}],"paths":{"/api/cc-users":{"post":{"operationId":"createUserCC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["application-controller"]}},"/api/login":{"delete":{"operationId":"login_5","responses":{"200":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["application-controller"]},"get":{"operationId":"login","responses":{"200":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["application-controller"]},"head":{"operationId":"login_1","responses":{"200":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["application-controller"]},"options":{"operationId":"login_6","responses":{"200":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["application-controller"]},"patch":{"operationId":"login_4","responses":{"200":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["application-controller"]},"post":{"operationId":"login_2","responses":{"200":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["application-controller"]},"put":{"operationId":"login_3","responses":{"200":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["application-controller"]}},"/api/me":{"get":{"operationId":"me","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimpleOauth2User"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["application-controller"]}},"/api/users":{"get":{"operationId":"getUsers","responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["application-controller"]},"post":{"operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["application-controller"]}},"/api/users/{userId}":{"put":{"operationId":"updateUser","parameters":[{"in":"path","name":"userId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["application-controller"]}},"/api/users/{userId}/changePassword":{"put":{"operationId":"changePassword","parameters":[{"in":"path","name":"userId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordChange"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["application-controller"]}},"/cc-ui/v1/accounts/":{"get":{"operationId":"getAllAccounts","responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/aws/":{"post":{"operationId":"createAwsAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AwsAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AwsAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/aws/validate":{"post":{"operationId":"validateAwsAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AwsAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/aws/{id}":{"put":{"operationId":"updateAwsAccount","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AwsAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AwsAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/azure/":{"post":{"operationId":"createAzureAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/azure/validate":{"post":{"operationId":"validateAzureAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/azure/{id}":{"put":{"operationId":"updateAzureAccount","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/bitbucket/":{"post":{"operationId":"createBitBucketAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BitBucketAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BitBucketAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/bitbucket/validate":{"post":{"operationId":"validateBitbucketAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BitBucketAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/bitbucket/{id}":{"put":{"operationId":"updateBitBucketAccount","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BitBucketAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BitBucketAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/coder/":{"post":{"operationId":"createCoderAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoderAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoderAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/coder/{id}":{"put":{"operationId":"updateCoderAccount","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoderAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoderAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/gcp/":{"post":{"operationId":"createGcpAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/gcp/validate":{"post":{"operationId":"validateGcpAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/gcp/{id}":{"put":{"operationId":"updateGcpAccount","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/get-organisations":{"post":{"operationId":"getVCSOrganisations","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VCSOrganizationsRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/github/":{"post":{"operationId":"createGitHubAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitHubAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitHubAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/github/validate":{"post":{"operationId":"validateGithubAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitHubAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/github/{id}":{"put":{"operationId":"updateGitHubAccount","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitHubAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitHubAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/gitlab/":{"post":{"operationId":"createGitLabAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitLabAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitLabAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/gitlab/validate":{"post":{"operationId":"validateGitlabAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitLabAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/gitlab/{id}":{"put":{"operationId":"updateGitLabAccount","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitLabAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitLabAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/kubernetes/":{"post":{"operationId":"createKubernetesAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KubernetesAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KubernetesAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/kubernetes/validate":{"post":{"operationId":"validateKubernetesAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KubernetesAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/kubernetes/{id}":{"put":{"operationId":"updateKubernetesAccount","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KubernetesAccount"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KubernetesAccount"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/link-cloud":{"post":{"operationId":"requestCloudAccountLinking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudLinkingRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OneTimeWebhook"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/link-vcs":{"post":{"operationId":"requestVCSLinking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VCSLinkingRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VCSLinkingResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/name/{name}":{"get":{"operationId":"getAccountByName","parameters":[{"in":"path","name":"name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/stack/{stackName}/token-details":{"get":{"operationId":"getVCSTokenDetailsByStackName","parameters":[{"in":"path","name":"stackName","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VCSTokenDetailsResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/token-details":{"get":{"operationId":"getAllVCSTokenDetails","responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VCSTokenDetailsResponse"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/token-details/refresh":{"post":{"operationId":"refreshAllVCSTokenDetails","responses":{"200":{"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/type/{type}":{"get":{"operationId":"getAccountsByType","parameters":[{"in":"path","name":"type","required":true,"schema":{"type":"string","enum":["VERSION_CONTROL","CLOUD","CODER"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/vcs-orgs/{accountId}":{"get":{"operationId":"getVcsOrganizationsByAccountId","parameters":[{"in":"path","name":"accountId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/vcs/{id}":{"patch":{"operationId":"updateVCSAccount","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VCSAccountUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/{accountId}/workspaces/{workspace}/projects":{"get":{"operationId":"getBitbucketProjectsForWorkspace","parameters":[{"in":"path","name":"accountId","required":true,"schema":{"type":"string"}},{"in":"path","name":"workspace","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/{id}":{"delete":{"operationId":"deleteAccount","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"boolean"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]},"get":{"operationId":"getAccount","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/{id}/github-app/permission-status":{"get":{"operationId":"getGithubAppPermissionStatus","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}},{"in":"query","name":"feature","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GithubAppPermissionStatus"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-accounts-controller"]}},"/cc-ui/v1/accounts/{id}/labels":{"put":{"description":"Replaces the account's labels with the supplied list. Send an empty list to clear them. Unlike the account update endpoints this does not replace the whole account and does not re-validate credentials with the provider, so it is safe to call from a list row. Returns 400 if an id is unknown or is not an ACCOUNT-scoped label, 404 if the account does not exist.","operationId":"setAccountLabels","parameters":[{"description":"Account ID","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachLabelsRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"summary":"Set an account's tags","tags":["ui-accounts-controller"]}},"/cc-ui/v1/actions":{"get":{"description":"- **Description:** Retrieve Actions optionally filtered by cluster, resource type, and resource name.\n- **Restrictions:** Actions are filtered based on provided parameters.\n- **Permissions:** None required.\n- **Audit Logging:** Not applicable.","operationId":"getActions","parameters":[{"in":"query","name":"clusterId","required":false,"schema":{"type":"string"}},{"in":"query","name":"resourceType","required":false,"schema":{"type":"string"}},{"in":"query","name":"resourceName","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActionDto"}}}},"description":"Successfully retrieved Actions."},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal server error."}},"summary":"Get Actions","tags":["ui-tekton-action-controller"]}},"/cc-ui/v1/actions/run":{"post":{"description":"- **Description:** Create and run Action Runs for multiple Actions with individual parameters.\n- **Restrictions:** None.\n- **Permissions:** Requires `RUN_ACTION` permission.\n- **Audit Logging:** Not applicable.","operationId":"runActions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkActionRunRequestDto"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActionRunDto"}}}},"description":"Successfully ran Action Runs."},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad request."},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden."},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal server error."}},"summary":"Run Multiple Actions","tags":["ui-tekton-action-controller"]}},"/cc-ui/v1/actions/runs/{actionRunName}/steps/{stepName}/logs":{"get":{"description":"- **Description:** Retrieve logs for a specific step of an Action Run.\n- **Restrictions:** None.\n- **Permissions:** None required.\n- **Audit Logging:** Not applicable.","operationId":"getStepLogs","parameters":[{"in":"path","name":"actionRunName","required":true,"schema":{"type":"string"}},{"in":"path","name":"stepName","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StepLogDto"}}},"description":"Successfully retrieved step logs."},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad request."},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden."},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal server error."}},"summary":"Get Step Logs","tags":["ui-tekton-action-controller"]}},"/cc-ui/v1/actions/runs/{actionRunName}/upload":{"get":{"description":"- **Description:** Download the file uploaded for a specific Action Run.\n- **Restrictions:** User must have access to the associated task.\n- **Permissions:** Requires task access permissions.\n- **Audit Logging:** Not applicable.","operationId":"downloadUpload","parameters":[{"in":"path","name":"actionRunName","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"string","format":"binary"}}},"description":"File downloaded successfully."},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden - no access to task."},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Upload not found."},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal server error."}},"summary":"Download Upload for Action Run","tags":["ui-tekton-action-controller"]}},"/cc-ui/v1/actions/{actionName}/runs":{"get":{"description":"- **Description:** Retrieve Action Runs for a specific Action.\n- **Restrictions:** None.\n- **Permissions:** None required.\n- **Audit Logging:** Not applicable.","operationId":"getActionRuns","parameters":[{"in":"path","name":"actionName","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActionRunDto"}}}},"description":"Successfully retrieved Action Runs."},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden."},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Action not found."},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal server error."}},"summary":"Get Action Runs","tags":["ui-tekton-action-controller"]}},"/cc-ui/v1/artifact-routing-rule":{"get":{"operationId":"getAllArtifactRoutingRules","parameters":[{"in":"query","name":"stackName","required":true,"schema":{"type":"string"}},{"in":"query","name":"registrationType","required":false,"schema":{"type":"string","enum":["ENVIRONMENT","RELEASE_STREAM","HYBRID"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ArtifactRoutingRuleResponse"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifact-routing-rule-controller"]},"post":{"operationId":"addArtifactRoutingRule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactRoutingRuleRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactRoutingRuleResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifact-routing-rule-controller"]},"put":{"operationId":"updateArtifactRoutingRule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactRoutingRuleRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactRoutingRuleResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifact-routing-rule-controller"]}},"/cc-ui/v1/artifact-routing-rule/operators":{"get":{"operationId":"getAllOperators","responses":{"200":{"content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["EQUALS","STARTS_WITH","ENDS_WITH","CONTAINS"]}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifact-routing-rule-controller"]}},"/cc-ui/v1/artifact-routing-rule/test":{"post":{"operationId":"testRuleForBranchName","parameters":[{"in":"query","name":"metadata","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}},"style":"form"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Criterion"}}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRuleResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifact-routing-rule-controller"]}},"/cc-ui/v1/artifact-routing-rule/{ruleId}":{"delete":{"operationId":"deleteArtifactRoutingRule","parameters":[{"in":"path","name":"ruleId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifact-routing-rule-controller"]},"get":{"operationId":"getArtifactRoutingRule","parameters":[{"in":"path","name":"ruleId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactRoutingRuleResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifact-routing-rule-controller"]}},"/cc-ui/v1/artifactHub/packages/{packageId}/values":{"get":{"operationId":"getHelmValues","parameters":[{"in":"path","name":"packageId","required":true,"schema":{"type":"string"}},{"in":"query","name":"version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifact-hub-controller"]}},"/cc-ui/v1/artifactHub/search-packages":{"get":{"operationId":"searchPackages","parameters":[{"in":"query","name":"offset","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"in":"query","name":"limit","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"in":"query","name":"facets","required":false,"schema":{"type":"boolean","default":false}},{"in":"query","name":"tsQueryWeb","required":false,"schema":{"type":"string"}},{"in":"query","name":"category","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"query","name":"verified","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"sort","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackageResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifact-hub-controller"]}},"/cc-ui/v1/artifactories":{"get":{"operationId":"getAllArtifactories","responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Artifactory"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]},"post":{"operationId":"createECRArtifactory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ECRArtifactory"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ECRArtifactory"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifactories/link-container-registry":{"post":{"operationId":"requestArtifactoryLinking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactoryLinkingRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OneTimeWebhook"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifactories/mirrors":{"post":{"operationId":"createArtifactoryMirror","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactoryMirror"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactoryMirror"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifactories/name/{name}":{"get":{"operationId":"getArtifactoryByName","parameters":[{"in":"path","name":"name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Artifactory"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifactories/name/{name}/repos":{"get":{"operationId":"getRepositoriesByArtifactoryName","parameters":[{"in":"path","name":"name","required":true,"schema":{"type":"string"}},{"in":"query","name":"artifactType","required":false,"schema":{"type":"string","default":"docker_image","enum":["docker_image","freestyle"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifactories/name/{name}/tags":{"get":{"operationId":"getTagsByArtifactoryName","parameters":[{"in":"path","name":"name","required":true,"schema":{"type":"string"}},{"in":"query","name":"repo","required":true,"schema":{"type":"string"}},{"in":"query","name":"artifactType","required":false,"schema":{"type":"string","default":"docker_image","enum":["docker_image","freestyle"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifactories/others":{"post":{"operationId":"createBasicDockerArtifactory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicDockerDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicDockerArtifactory"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifactories/others/{artifactoryId}":{"post":{"operationId":"updateBasicDockerArtifactory","parameters":[{"in":"path","name":"artifactoryId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicDockerDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicDockerArtifactory"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifactories/stack/{stackName}":{"get":{"operationId":"getAllArtifactoriesForStack","parameters":[{"in":"path","name":"stackName","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Artifactory"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifactories/v2/{artifactoryId}":{"delete":{"operationId":"deleteArtifactory","parameters":[{"in":"path","name":"artifactoryId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifactories/{artifactoryId}":{"delete":{"operationId":"deleteECRArtifactory","parameters":[{"in":"path","name":"artifactoryId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"boolean"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]},"get":{"operationId":"getArtifactoryById","parameters":[{"in":"path","name":"artifactoryId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Artifactory"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]},"post":{"operationId":"updateECRArtifactory","parameters":[{"in":"path","name":"artifactoryId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ECRArtifactory"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ECRArtifactory"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifactories/{artifactoryId}/associate-projects":{"post":{"operationId":"associateStacks","parameters":[{"in":"path","name":"artifactoryId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifactories/{artifactoryId}/repos":{"get":{"operationId":"getRepositories","parameters":[{"in":"path","name":"artifactoryId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifactories/{artifactoryId}/tags":{"get":{"operationId":"getTags","parameters":[{"in":"path","name":"artifactoryId","required":true,"schema":{"type":"string"}},{"in":"query","name":"repo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/schemas/GithubAppPermissionsPendingErrorDetails"}]}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetails"}}},"description":"Internal Server Error"}},"tags":["ui-artifactory-controller"]}},"/cc-ui/v1/artifacts-ci":{"get":{"operationId":"getAllArtifactsCI","responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ArtifactCI"}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorDetails"},{"$ref":"#/components/s
[...]
